<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404 NotFound</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-head">
      <nav id="navbar" class="navbar is-fixed-top is-transparent">
        <div id="specialShadow" class="bd-special-shadow"></div>
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item " href="#/">毓彦的博客</a>
            <a class="navbar-item is-hidden-desktop" href="#/mobile/menu"> 菜单</a>
          </div>
          <div id="navMenuIndex" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="#/page/about">关于</a>
              <a class="navbar-item " href="#/archives">归档</a>
              <a class="navbar-item " href="#/page/Link">友情链接</a>
              <a class="navbar-item " href="#/project">项目列表</a>
            </div>
            <div class="navbar-end"></div>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <article class="media">
            <div class="media-left">

            </div>
            <div class="media-content">
              <div class="content">
                <h5>Not Found </h5>
                <p>
                  <small>似乎页面输错了地址</small>
                  <br/>
                  <small>仔细检查一下</small>
                  <br/>
                  <small>
                    <a href="/">返回首页</a>
                  </small>
                </p>
              </div>
            </div>
          </article>
        </div>
        <SideBar/>
      </div>
    </div>
  </section>
</body>

</html>