<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.2.js"></script>
</head>
<body>
    <section class="hero is-primary">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  控制面板
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <span class="navbar-item">
                    <a class="button is-primary is-inverted" id="Logout">
                      <span class="icon">
                        <i class="fa fa-sign-out"></i>
                      </span>
                      <span>登出</span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              控制面板
            </h1>
          </div>
        </div>
      
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
          <nav class="tabs">
            <div class="container">
              <ul>
                <li class="is-active"><a>刷新文章</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      <section class="section is-medium">
          <div class="container">
            <div class="columns">
              <div class="column"></div>
              <div class="column is-one-third">
                <div class="card">
                  <div class="tile is-parent">
                    <article class="tile is-child is-primary">
                      <div class="field">
                        <label class="label">
                          <center>生成文章</center>
                        </label>
                      </div>
                      <div id="generateState"></div>
                      <div class="field">      
                        <p class="control">
                          <center>
                            <button class="button is-success" id="Generate">
                              GO
                            </button>
                          </center>
                        </p>
                      </div>
                      
                    </article>
                  </div>
                </div>
              </div>
              <div class="column"></div>
            </div>
          </div>
        </section>
    <script>
    $(document).ready(function () {
      $('#Logout').click(function (evt) {
        evt.preventDefault();
        $.ajax({
          url: '/auth/logout',
          type: 'POST',
          // data: {
          //   name: $('#InputName').val(),
          //   password: $('#InputPasswd').val()
          // },
          success: function (data) {
            if (data.ret_code === 2) {
              alert('logout fail')
            } else {
              location.href = "/auth/login";
            }
            
          }
        });
      });
      $('#Generate').click(function (evt) {
        evt.preventDefault();
        $.ajax({
          url: '/auth/api/generate',
          type: 'POST',
          success: function (data) {
            if (data.state === 1) {
              document.getElementById('generateState').innerHTML = `
              <article class="message is-success">
                  <div class="message-body">
                    生成成功
                  </div>
                </article>
                <br/>
              `
            } else {
              document.getElementById('generateState').innerHTML = `
              <article class="message is-danger">
                  <div class="message-body">
                    生成失败
                  </div>
                </article>
                <br/>
              `
            }
            
          }
        });
      });
    });
    </script>
</body>
</html>