<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
  <script src="/static/js/jquery-2.1.2.js"></script>
</head>

<body>
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-one-third">
          <div class="card">
            <div class="tile is-parent">
              <article class="tile is-child is-primary">
                <div class="field">
                  <label class="label">
                    <center>登录</center>
                  </label>
                </div>
                <div id="loginState"></div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="用户名" id="InputName">
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                </div>

                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="密码" id="InputPasswd">

                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">

                  <p class="control">
                    <center>
                      <button class="button is-success" id="login">
                        Login
                      </button>
                    </center>
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(function () {
      $('#login').click(function (evt) {
        evt.preventDefault();
        $.ajax({
          url: '/auth/login',
          type: 'POST',
          data: {
            name: $('#InputName').val(),
            password: $('#InputPasswd').val()
          },
          success: function (data) {
            console.log(data)
            if (data.ret_code === 0) {
              location.href = "/admin";
            } else {
              $('#InputName').val('') ;
              $('#InputPasswd').val('') ;
              document.getElementById('loginState').innerHTML = `
              <article class="message is-danger">
                  <div class="message-body">
                    登录失败
                  </div>
                </article>
                <br/>
              `
            }

          }
        });
      });
    });
  </script>
</body>

</html>